<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:modules="http://typo3.org/ns/CodingMs/Modules/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Backend"/>
<f:section name="Content">
	<modules:be.header header="{f:translate(key: 'tx_viewstatistics_label.module_headline_list_for_object')}" />
	<f:flashMessages />
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate key="tx_viewstatistics_label.filter_headline"/>
		</div>
		<div class="panel-body">
			<f:form class="row" action="{list.action}" controller="Backend" pageUid="{list.pid}">
				<f:form.hidden name="offset" value="0" />
				<label>Suche: </label>
				<div class="input-group w-auto mb-2 pe-0">
				<span class="input-group-text"><f:translate key="tx_viewstatistics_label.type" /></span>
				<f:form.select name="type" class="form-select select-width-display-type"  data="{select: 'default'}"
							   options="{list.type.items}" value="{list.type.selected}"/>
				</div>
				<div class="input-group w-auto mb-2 pe-0">
					<span class="input-group-text"><f:translate key="tx_viewstatistics_label.placeholder_uid" /></span>
					<f:form.textfield name="uid" class="form-control" value="{list.userUid}"/>
				</div>
				<div class="input-group w-auto mb-2">
					<span class="input-group-text"><f:translate key="tx_viewstatistics_label.title" /></span>
					<f:form.textfield name="title" class="form-control" value="{list.uid}"/>
				</div>
				<div class="input-group w-auto mb-2">
					<f:form.submit value="{f:translate(key: 'tx_viewstatistics_label.filter_submit_filter')}"
								   class="btn btn-default"/>
				</div>
			</f:form>
		</div>
	</div>
	<f:render partial="Table/Table" arguments="{list: list, data: tracking}" />
	<modules:be.footer />
</f:section>
</html>

