<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:modules="http://typo3.org/ns/CodingMs/Modules/ViewHelpers"
	  xmlns:statistics="http://typo3.org/ns/CodingMs/ViewStatistics/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Backend"/>
<f:section name="Content">

	<modules:be.header header="{f:translate(key: 'tx_viewstatistics_label.module_headline_view_summary')}" />
	<f:flashMessages />
			<f:be.infobox title="{title}" state="-1">
				<f:if condition="{type} === 'pageview'">
					<p>
						<b>Breadcrumb:</b>
						<statistics:page.rootline pageUid="{currentPage}" as="rootline" />
						<f:for each="{rootline -> statistics:iterator.sort()}" as="rootlineItem" iteration="i">
							<f:if condition="{i.index} > 0"> &gt;</f:if>
							{rootlineItem.title}
						</f:for>
					</p>
				</f:if>
				<p>
					Insgesamt {list.countAll} Tracking-Einträge.
					<f:if condition="{list.countAll} > 50000">
						Es werden nur die letzten 50000 berücksichtigt.
					</f:if>
				</p>
			</f:be.infobox>
	<p>
		<f:link.action action="{list.backAction}" arguments="{type: type}" class="btn btn-default"><f:translate key="tx_viewstatistics_label.back_to_search"/></f:link.action>
	</p>

	<f:render partial="Table/Table" arguments="{list: list, data: items}" />
	<modules:be.footer />
</f:section>
</html>

